certifi==2017.7.27.1
chardet==3.0.4
cytoolz==0.8.2
Django==1.11.5
django-ckeditor==5.3.0
django-embed-video==1.1.2
django-js-asset==0.1.1
django-modeltranslation==0.12.1
django-rosetta==0.7.13
django-solo==1.1.2
ethereum-utils==0.5.0
idna==2.6
microsofttranslator==0.8
MySQL-python==1.2.5
olefile==0.44
Pillow==4.2.1
polib==1.0.8
pysha3==1.0.2
pytz==2017.2
requests==2.18.4
six==1.11.0
toolz==0.8.2
urllib3==1.22
