{% extends "base_up.html" %}
{% load i18n %}

{% block title %}{% trans 'Password recovery' %}{% endblock %}

{% block content %}
    <!-- form start -->
    <form class="password-recovery-form" id="password-recovery-form" method="post">
        {% csrf_token %}
        <p class="title">{% trans 'Password recovery' %}</p>
        <input type="text" class="input" name="email" placeholder="E-mail">
        <input type="submit" class="submit" value="{% trans 'Get new password' %}">
        <a href="{% url 'login' %}" class="forgot-password">{% trans 'I remembered the password' %}</a>
    </form>
    <!-- form end -->

{% endblock %}