{% extends "base_up.html" %}
{% load i18n %}

{% block title %}{% trans 'Password recovery' %}{% endblock %}

{% block content %}
    {% if validlink %}

    <form class="password_reset_confirm_form" id="password_reset_confirm_form" method="post">
        {% csrf_token %}
        <p class="title">{% trans 'Change password' %}</p>
        <p class="caption">{% trans 'Enter new password in the form below' %}</p>
        <div class="password-wrap">
            <input type="password" class="input{% if form.new_password1.errors %} error{% endif %}" id="new_password1" name="new_password1" placeholder="{% trans 'Password' %}">
            <a href="#!" id="eye" class="eye active"></a>
        </div>
        <input type="password" class="input{% if form.new_password2.errors %} error{% endif %}" name="new_password2" placeholder="{% trans 'Password Again' %}">
        <input type="submit" class="submit" value="{% trans 'Change password' %}">
    </form>
    {% else %}
    <div class="password-recovery-done">
        <p>
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.{% endblocktrans %}
        </p>
    </div>
    {% endif %}

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    function stopDefAction(evt) {
        evt.preventDefault();
    }

    document.getElementById('eye').addEventListener(
        'click', stopDefAction, false
    );

    function show() {
        var p = document.getElementById('new_password1');
        p.setAttribute('type', 'text');
    }

    function hide() {
        var p = document.getElementById('new_password1');
        p.setAttribute('type', 'password');
    }

    var pwShown = 0;

    document.getElementById("eye").addEventListener("click", function () {
        if (pwShown == 0) {
            pwShown = 1;
            show();
        } else {
            pwShown = 0;
            hide();
        }
    }, false);
  </script>
{% endblock %}