{% extends "base_up.html" %}
{% load i18n %}

{% block title %}{% trans 'Password recovery' %}{% endblock %}

{% block content %}
    <div class="password-recovery-done">
        <p>
            {% blocktrans %}We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.{% endblocktrans %}
        </p>
    </div>
{% endblock %}