{% load staticfiles %}
{% load solo_tags %}
{% load i18n %}
{% load translate_urls %}
{% load utils %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    {% get_solo 'config.SiteConfiguration' as conf %}
    <!-- header start -->

    {% include "header_white.html" with hide=False %}

    <!-- header end -->

    {% block content %}{% endblock %}

    <!-- footer start -->

    <section class="footer">
        <div class="container">
            <a href="#!" class="footer__logo"></a>
            <ul class="footer__menu">
                {% for item in menu %}
                    <li><a class="link" href="{% if item.link %}{{ item.link }}{% else %}#{% endif %}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
            <a href="#!" class="footer__email">E-mail: {{ conf.main_email }}</a>
        </div>
    </section>

    <!-- footer end -->

    <!--scripts-->
    {% block extrajs %}
        <script src="{% static 'js/app.js' %}"></script>
    {% endblock %}
</body>

</html>