{% load staticfiles %}
{% load solo_tags %}
{% load i18n %}
{% load translate_urls %}
{% load utils %}


{% get_solo 'config.SiteConfiguration' as conf %}


<header class="header white" style="{% if hide %}display:none;{% else %}{% endif %}">
    <div class="container">
        <div class="top-line">
            {% get_current_language as LANGUAGE_CODE %}
            <a href="/{{ LANGUAGE_CODE }}/" class="logo"></a>
            <div class="auth">
                {% if not request.user.is_authenticated %}
                <a href="{% url 'signup' %}" class="sign-up">{% trans 'Sign Up' %}</a>
                <div class="line"></div>
                <a href="{% url 'login' %}" class="login">{% trans  'Login' %}</a>
                {% else %}
                <a href="{% url 'profile' %}" class="sign-up">{% trans 'Profile' %}</a>
                <div class="line"></div>
                <a href="{% url 'logout' %}" class="login">{% trans 'logout' %}</a>
                {% endif %}
            </div>
            <ul class="menu">
                {% for item in menu %}
                    <li><a class="link" href="{% if item.link %}{% url 'index' %}{{ item.link }}{% else %}#{% endif %}">{{ item.name }}</a></li>
                {% endfor %}


                <li class="lang">
                    {% with 'img/'|addstr:LANGUAGE_CODE|addstr:'.png' as img_name %}
                    <a href="#!" class="{{ LANGUAGE_CODE }}"><img src="{% static img_name %}" alt="{{ LANGUAGE_CODE }}">{{ LANGUAGE_CODE }}</a>
                    {% endwith %}
                    <ul class="sub">
                        {% if LANGUAGE_CODE != "en" %}<li><a href="{% translate_url en %}" class="uk"><img src="{% static 'img/en.png' %}" alt="uk">en</a></li>{% endif %}
                        {% if LANGUAGE_CODE != "ru" %}<li><a href="{% translate_url ru %}" class="rus"><img src="{% static 'img/ru.png' %}" alt="rus">ru</a></li>{% endif %}
                        {% if LANGUAGE_CODE != "zh" and conf.enable_zh %}
                        <li><a href="{% translate_url zh %}" class="zh"><img src="{% static 'img/zh.png' %}" alt="zh">zh</a></li>
                        {% endif %}
                        {% if LANGUAGE_CODE != "de" and conf.enable_de %}
                        <li><a href="{% translate_url de %}" class="de"><img src="{% static 'img/de.png' %}" alt="de">de</a></li>
                        {% endif %}
                        {% if LANGUAGE_CODE != "es" and conf.enable_es %}
                        <li><a href="{% translate_url es %}" class="es"><img src="{% static 'img/es.png' %}" alt="es">es</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="mb-menu">
                <li class="open"><i class="fa fa-bars" aria-hidden="true"></i>
                    <ul class="submenu">
                        {% for item in menu %}
                            <li><a class="link" href="{% if item.link %}{{ item.link }}{% else %}#{% endif %}">{{ item.name }}</a></li>
                        {% endfor %}
                        <li class="lang">
                            {% with 'img/'|addstr:LANGUAGE_CODE|addstr:'.png' as img_name %}
                            <a href="#!" class="{{ LANGUAGE_CODE }}"><img src="{% static img_name %}" alt="{{ LANGUAGE_CODE }}">{{ LANGUAGE_CODE }}</a>
                            {% endwith %}
                            <ul class="sub">
                                {% if LANGUAGE_CODE != "en" %}<li><a href="{% translate_url en %}" class="uk"><img src="{% static 'img/en.png' %}" alt="uk">en</a></li>{% endif %}
                                {% if LANGUAGE_CODE != "ru" %}<li><a href="{% translate_url ru %}" class="rus"><img src="{% static 'img/ru.png' %}" alt="rus">ru</a></li>{% endif %}
                                {% if LANGUAGE_CODE != "zh" and conf.enable_zh %}
                                <li><a href="{% translate_url zh %}" class="zh"><img src="{% static 'img/zh.png' %}" alt="zh">zh</a></li>
                                {% endif %}
                                {% if LANGUAGE_CODE != "de" and conf.enable_de %}
                                <li><a href="{% translate_url de %}" class="de"><img src="{% static 'img/de.png' %}" alt="de">de</a></li>
                                {% endif %}
                                {% if LANGUAGE_CODE != "es" and conf.enable_es %}
                                <li><a href="{% translate_url es %}" class="es"><img src="{% static 'img/es.png' %}" alt="es">es</a></li>
                                {% endif %}
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>