{% extends "base_up.html" %}
{% load staticfiles %}
{% load i18n %}
{% load solo_tags %}

{% block title %}{% trans 'LK' %}{% endblock %}

{% block content %}
{% get_solo 'config.SiteConfiguration' as conf %}
    <!-- lk section start -->

    <section class="lk-section">
        <div class="container">
            <h2 class="lk-section__title">{% trans 'Your account' %}</h2>
            <p class="lk-section__tokens-caption">{% trans 'Yours golfcoin tokens' %}: <span id="tokens-count" data-url="{% url 'tokens_count' %}">0</span></p>

            <p class="lk-section__changes-saved">
                <label for="submit-account-form" class="radio-label" tabindex="0">{% trans 'Save changes' %}</label>
                {% if account_form.errors %}
                    {% for error in account_form.non_field_errors %}
                        <p class="caption error_message">{{ error }}</p>
                    {% endfor %}
                    {% for field in account_form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="caption error_message">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="lk-section__changes-saved">{{ message }}</p>
                    {% endfor %}
                {% endif %}

            </p>

            <div class="lk-section__content">

                <div class="account-info">
                    <form id="lk-account-form" class="lk-account-form" method="POST" data-check-email-url="{% url 'check_email_profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p class="input-wrap ">
                            <label for="first_name">{% trans 'Name' %}</label>
                            <input type="text" class="" id="first_name" name="first_name" value="{{ account_form.first_name.value }}"/>
                        </p>
                        <p class="input-wrap">
                            <label for="last_name">{% trans 'Surname' %}</label>
                            <input type="text" class="" id="last_name" name="last_name" value="{{ account_form.last_name.value }}"/>
                        </p>
                        <p class="input-wrap">
                            <label for="id_address">{% trans 'Address' %}</label>
                            <input type="text" class="" id="id_address" name="address" value="{{ account_form.address.value|default_if_none:"" }}"/>
                        </p>
                        <p class="input-wrap">
                            <label for="phone_number">{% trans 'Phone number' %}</label>
                            <input type="text" class="" id="phone_number" name="phone_number" value="{{ account_form.phone_number.value|default_if_none:"" }}"/>
                        </p>
                        <p class="input-wrap">
                            <label for="email">{% trans 'E-mail' %}</label>
                            <input type="text" class="" id="email" name="email" value="{{ account_form.email.value }}"/>
                        </p>
                        <p class="input-wrap">
                            <label for="password1">{% trans 'New password' %}</label>
                            <input type="password" class="password" id="password1" name="password1"/>
                        </p>
                        <p class="input-wrap">
                            <label for="password2">{% trans 'New password confirmation' %}</label>
                            <input type="password" class="password" id="password2" name="password2"/>
                        </p>
                        <p class="input-wrap">
                            <label for="verify_password">{% trans 'Current password' %}</label>
                            <input type="password" class="password" id="verify_password" name="verify_password"/>
                        </p>
                        <div class="input-wrap">
                            <div class="caption"><p>{% trans 'Document upload rules' %}</p>{{ conf.documents_rules|safe }}</div>
                        </div>
                        <p class="input-wrap">
                            <label for="document_1" class="label-disabled">{% trans 'Document scan copy' %} 1</label>
                            <input type="file" class="dropify" id="document_1" name="document_1" data-message-default="{% trans 'Drag and drop a file here or click' %}"
                            data-message-replace="{% trans 'Drag and drop or click to replace' %}"
                            data-message-remove="{% trans 'Remove' %}"
                            data-message-error="{% trans 'Ooops, something wrong happened' %}"
                            data-error-fileSize="{% trans 'The file size is too big ({{ value }} max).' %}"
                            data-error-fileExtension="{% trans 'The file is not allowed ({{ value }} only).' %}"
                            data-error-minWidth="{% trans 'The image width is too small ({{ value }}}px min).' %}"
                            data-error-maxWidth="{% trans 'The image width is too big ({{ value }}}px max).' %}"
                            data-error-minHeight="{% trans 'The image height is too small ({{ value }}}px min).' %}"
                            data-error-maxHeight="{% trans 'The image height is too big ({{ value }}px max).' %}"
                            data-error-imageFormat="{% trans 'The image format is not allowed ({{ value }} only).' %}"
                            data-allowed-file-extensions="pdf png jpg jpeg"
                            data-max-file-size="2M"
                            data-height="150"
                            {% if account_form.document_1.value %}data-show-remove="false" data-default-file="{{ account_form.instance.document_1_url }}"  disabled="disabled"{% endif %}/>
                        </p>
                        <p class="input-wrap">
                            <label for="document_2" class="label-disabled">{% trans 'Document scan copy' %} 2</label>
                            <input type="file" class="dropify" id="document_2" name="document_2" data-message-default="{% trans 'Drag and drop a file here or click' %}"
                            data-message-replace="{% trans 'Drag and drop or click to replace' %}"
                            data-message-remove="{% trans 'Remove' %}"
                            data-message-error="{% trans 'Ooops, something wrong happened' %}"
                            data-error-fileSize="{% trans 'The file size is too big ({{ value }} max).' %}"
                            data-error-fileExtension="{% trans 'The file is not allowed ({{ value }} only).' %}"
                            data-error-minWidth="{% trans 'The image width is too small ({{ value }}}px min).' %}"
                            data-error-maxWidth="{% trans 'The image width is too big ({{ value }}}px max).' %}"
                            data-error-minHeight="{% trans 'The image height is too small ({{ value }}}px min).' %}"
                            data-error-maxHeight="{% trans 'The image height is too big ({{ value }}px max).' %}"
                            data-error-imageFormat="{% trans 'The image format is not allowed ({{ value }} only).' %}"
                            data-allowed-file-extensions="pdf png jpg jpeg"
                            data-max-file-size="2M"
                            data-height="150"
                            {% if account_form.document_2.value %}data-show-remove="false" data-default-file="{{ account_form.instance.document_2_url }}"  disabled="disabled"{% endif %}/>
                        </p>
                        <p class="input-wrap">
                            <label for="document_3" class="label-disabled">{% trans 'Document scan copy' %} 3</label>
                            <input type="file" class="dropify" id="document_3" name="document_3" data-message-default="{% trans 'Drag and drop a file here or click' %}"
                            data-message-replace="{% trans 'Drag and drop or click to replace' %}"
                            data-message-remove="{% trans 'Remove' %}"
                            data-message-error="{% trans 'Ooops, something wrong happened' %}"
                            data-error-fileSize="{% trans 'The file size is too big ({{ value }} max).' %}"
                            data-error-fileExtension="{% trans 'The file is not allowed ({{ value }} only).' %}"
                            data-error-minWidth="{% trans 'The image width is too small ({{ value }}}px min).' %}"
                            data-error-maxWidth="{% trans 'The image width is too big ({{ value }}}px max).' %}"
                            data-error-minHeight="{% trans 'The image height is too small ({{ value }}}px min).' %}"
                            data-error-maxHeight="{% trans 'The image height is too big ({{ value }}px max).' %}"
                            data-error-imageFormat="{% trans 'The image format is not allowed ({{ value }} only).' %}"
                            data-allowed-file-extensions="pdf png jpg jpeg"
                            data-max-file-size="2M"
                            data-height="150"
                            {% if account_form.document_3.value %}data-show-remove="false" data-default-file="{{ account_form.instance.document_3_url }}" disabled="disabled"{% endif %}/>
                        </p>
                        <input type="hidden" name="submit" value="account_form">
                        <input type="submit" id="submit-account-form" class="hidden" />
                    </form>
                </div>

                <div class="history">
                    <p class="history__title">{% trans 'History of your transactions' %}</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>{% trans 'Date' %}</td>
                                <td>{% trans 'Method' %}</td>
                                <td>{% trans 'Number of tokens' %}</td>
                                <td>{% trans 'Sum' %}</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tx in request.user.donations.all %}
                            <tr>
                                <td>{{ tx.created_dt|date:"d.m.Y" }}</td>
                                <td><a href="{{ tx.tx_link }}">{{ tx.payment_method }}</a></td>
                                <td>TBD</td>
                                <td>TBD</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td id="no-transactions" colspan="4">{% trans 'No transactions yet' %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="discount-block">
                <p class="term-title">
                    {% trans 'Ознакомтесь с' %}
                    <a href="{% if conf.privacy_policy %}{{ conf.privacy_policy.url }}{% else %}#!{% endif %}" target="_blank">{% trans 'privacy policy ' %}</a>
                    {% trans 'и' %}
                    <a href="{% if conf.terms_and_conditions %}{{ conf.terms_and_conditions.url }}{% else %}#!{% endif %}" target="_blank">{% trans 'terms and conditions' %}</a></p>
            </div>

            {% get_solo 'config.DonationAddresses' as addresses %}
            <h2 class="lk-section__title lk-section__title--donations">{% trans 'Make a donation and get tokens' %}</h2>
            {% if donation_form.errors %}
                {% for error in donation_form.non_field_errors %}
                    <p class="caption error_message">{{ error }}</p>
                {% endfor %}
                {% for field in donation_form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="caption error_message">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form class="donation-form" id="donation-form" method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_name" value="user_form"/>

                <div class="step-one">
                    <p class="step-title">{% trans 'Step 1. Choose your payment method' %}</p>
                    <input type="radio" class="radio-input" id="buy_for_eth" name="payment_method" value="ETH" {% if donation_form.payment_method.value|default:"ETH" == "ETH" %}checked{% endif %}/>
                    <label for="buy_for_eth" class="radio-label" data-address="{{ addresses.eth_address }}" data-code="the ETH">{% trans 'Buy with ETH' %}</label>
                    <input type="radio" class="radio-input" id="buy_for_btc" name="payment_method" value="BTC" {% if donation_form.payment_method.value|default:"ETH" == "BTC" %}checked{% endif %}/>
                    <label for="buy_for_btc" class="radio-label" data-address="{{ addresses.btc_address }}" data-code="the BTC">{% trans 'Buy with BTC' %}</label>
                    <input type="radio" class="radio-input" id="buy_for_ltc" name="payment_method" value="LTC" {% if donation_form.payment_method.value|default:"ETH" == "LTC" %}checked{% endif %}/>
                    <label for="buy_for_ltc" class="radio-label" data-address="{{ addresses.ltc_address }}" data-code="the LTC">{% trans 'Buy with LTC' %}</label>
                    <input type="radio" class="radio-input" id="buy_for_etc" name="payment_method" value="ETC" {% if donation_form.payment_method.value|default:"ETH" == "ETC" %}checked{% endif %}/>
                    <label for="buy_for_etc" class="radio-label" data-address="{{ addresses.etc_address }}" data-code="the ETC">{% trans 'Buy with ETC' %}</label>
                </div>

                <div class="step-two">
                    <p class="step-title">{% trans 'Step 2. Transfer your money to this address' %}</p>
                    <input type="text" class="input-address" name="donation_address" id="donation_address" value="{% if donation_form.address.value %}{{ donation_form.address.value }}{% else %}{{ addresses.eth_address }}{% endif %}" readonly/>
                    <a href="#!" class="copy-address" data-clipboard-target="#donation_address">{% trans 'Copy address' %}</a>
                </div>
                <div class="step-three">
                    <p class="step-title">{% trans 'Step 3. Enter the transaction number you sent' %} <span id="code">the {{ donation_form.payment_method.value|default:"ETH" }}</span></p>
                    <input type="text" class="transaction_address" name="tx_id" value="{{ donation_form.tx_id.value|default:"" }}"/>
                </div>
                <div class="step-four">
                    <p class="step-title">{% trans 'Step 4. Enter your E20 wallet address' %}</p>
                    <input type="text" class="e20-wallet-input" id="e20_wallet" name="e20_wallet" value="{{ donation_form.e20_wallet.value|default:"" }}">
                    <p class="required-field">*This field is required</p>
                </div>

                <label for="submit-donation-form" class="radio-label" tabindex="0">{% trans 'Send' %}</label>
            </form>
        </div>
    </section>

    <!-- lk section end -->

{% endblock %}
