@import "../helpers.scss";

.mb-menu{
    display: none;
    vertical-align: top;
    margin: 34px 0 0 371px;
    @include media-max(667){
        display: block;
        margin: 34px 0 0 0px;
        list-style: none;
    }
    & .open{
        position: relative;
            &:hover{
                & .submenu{
                    display: block;
                }
            }
        & i{
            font-size: em(30);
            color: $btncolor;
        }
        & .submenu{
            display: none;
            position: absolute;
            width: 100%;
            background-color: $btncolor;
            & li{
                display: block;
                margin: 3px 14px 10px 0;
                & a{
                    display: block;
                    font-family: $museosanscyrl500;
                    font-size: em(15);
                    text-transform: uppercase;
                    color: $whitetext;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                &.lang{
                    position: relative;
                    margin: 0 0 0 0px;
                    &:after{
                        content: "\f107";
                        position: absolute;
                        top: 4px;
                        right: auto;
                        font-family: $fontawesome;
                        color: $whitetext;
                    }
                    & > a{
                        display: inline-block;
                        vertical-align: top;
                        text-transform: none;
                        font-family: $museosanscyrl300;
                        line-height: 25px;
                        & img{
                            display: inline-block;
                            vertical-align: top;
                            margin: 0 4px 0 0;
                        }
                    }
                    & .sub{
                        display: none;
                        position: absolute;
                        padding: 5px 0 0 0;
                        width: 100%;
                        background-color: $btncolor;
                        & li{
                            display: block;
                            margin: 0 0 5px 0;
                            & > a{
                                display: inline-block;
                                vertical-align: top;
                                text-transform: none;
                                font-family: $museosanscyrl300;
                                line-height: 25px;
                                & img{
                                    display: inline-block;
                                    vertical-align: top;
                                    opacity: 0;
                                    margin: 0 4px 0 0;
                                }
                            }
                        }
                    }
                    &:hover{
                        & .sub{
                            display: block;
                        }
                        &:after{
                            content: "\f106";
                        }
                    }
                }
            }
        }
    }

}