
@font-face {
    font-family: 'museocanscyrl100';
    src:url('../fonts/museocanscyrl-100.woff2') format('woff2'),
        url('../fonts/museocanscyrl-100.woff') format('woff'),
        url('../fonts/museocanscyrl-100.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museocanscyrl300';
    src:url('../fonts/museocanscyrl-300.woff2') format('woff2'),
        url('../fonts/museocanscyrl-300.woff') format('woff'),
        url('../fonts/museocanscyrl-300.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museocanscyrl500';
    src:url('../fonts/museocanscyrl-500.woff2') format('woff2'),
        url('../fonts/museocanscyrl-500.woff') format('woff'),
        url('../fonts/museocanscyrl-500.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museocanscyrl700';
    src:url('../fonts/museocanscyrl-700.woff2') format('woff2'),
        url('../fonts/museocanscyrl-700.woff') format('woff'),
        url('../fonts/museocanscyrl-700.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontAwesome';
    src:url('../fonts/fontawesome-webfont.woff2') format('woff2'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}